.company-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4.5vw;
    @include xs_md {
        margin-top: -40vw;
    }
    @include md_lg {
        margin-top: -25vw;
    }
    .logo-holder {
        position: relative;
        width: 60%;
        max-width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: $card-shadow;
        padding: 6%;
        align-self: center;
        margin-top: 3.125vw;
        margin-bottom: 3.125vw;
        @include xs_sm {
            max-width: 200px;
            margin-bottom: 35px;
        }
        @include lg_xl {
            max-width: 220px;
        }
        &:before {
            padding-bottom: 100%;
        }
        &.default {
            background: linear-gradient(to bottom, #acacac, #838383);
            padding: 2%;
        }
        &.recommend {}
        img {
            object-fit: contain;
            transition: transform .35s ease;
            position: absolute;
            width: 66%;
            left: 50%;
            top: 50%;
            z-index: 5;
            transform: translate(-50%, -50%);
            mix-blend-mode: darken;
        }
    }
    .title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .title-en {
        color: #767676;
        margin-bottom: .5em;
    }
    // .label-holder {
    //     @extend %INSIDE_label;
    // }
    .update-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #9B9B9B;
        padding-top: 50px;
        font-size: .8125em;
    }
}

.recommend {
    //background: linear-gradient(to bottom, #f0f0f0, $color-bg 30%);
    .company-header {
        .logo-holder {
            background: linear-gradient(-72deg, #dedede, #ffffff 16%, #dedede 21%, #ffffff 24%, #454545 27%, #dedede 36%, #ffffff 45%, #ffffff 60%, #dedede 72%, #ffffff 80%, #dedede 84%, #a1a1a1);
            background-size: 300% 300%;
            animation: gradient 9s linear infinite;
            &:after {
                content: "";
                display: block;
                width: 97.5%;
                //padding-bottom: 97.5%;
                height: 97.5%;
                background-color: #fff;
                background: linear-gradient(45deg, #eeeeee, #ffffff 16%, #eeeeee 21%, #ffffff 24%, #ffffff 27%, #eeeeee 36%, #ffffff 45%, #ffffff 60%, #eeeeee 72%, #ffffff 80%, #eeeeee 100%);
                position: absolute;
                animation: gradient2 20s ease infinite;
                background-size: 400% 400%;
                z-index: 1;
                border-radius: 50%;
            }
            &+.fz-A {
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: .7em;
                    padding-bottom: 1.25em;
                    margin-right: 0.25em;
                    //border: 1px solid #000;
                    pointer-events: none;
                    // background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
                    // background-size: 200% 200%;
                    background: url('../img/star-label.svg') no-repeat center left;
                    background-size: contain;
                    margin-top: -0.2em;
                    // clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                    //animation: gradient 10s ease infinite;
                    z-index: 2;
                }
            }
        }
    }
}

.company-highlight {
    flex-wrap: wrap;
    display: flex;
    position: relative;
    .item-card {
        border-radius: $radius;
        box-shadow: $card-shadow;
        width: 48%;
        margin-left: 0;
        background-color: #fff;
        padding: 2.5% 4%;
        margin-bottom: 3%;
        flex: 1;
        box-sizing: border-box;
        // @include sm {
        //     width: 48%;
        //     margin-left: 4%;
        // }
        &+.item-card {
            margin-left: 4%;
        }
        @include xs_sm {
            padding: 20px 20px;
        }
    }
    .title {
        margin-top: 0;
        font-weight: lighter;
        //margin-bottom: 0;
    }
    strong {
        font-size: 8vw;
        font-weight: bold;
        font-family: $font-en;
        display: block;
        line-height: 1em;
        @include lg {
            font-size: 3.25vw;
        }
    }
    .hide {
        position: absolute;
    }
}

.card-wrap,
.table-ul {
    background-color: #fff;
    border-radius: $radius;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: $card-shadow;
    padding: 10px 20px;
    @include md {
        padding: 15px 30px;
    }
    @include lg {
        margin-bottom: 5vw;
    }
}

.table-ul {
    >li {
        border-bottom: 1px solid $color-border;
        padding: 10px 0;
        &:last-of-type {
            border-bottom: none;
        }
        @include md_lg {
            display: flex;
            //padding: 10px 20px;
        }
        @include xl {
            display: flex;
        }
        @include xxl {
            padding: 10px 0;
        }
        @include xxxl {
            padding: 13px 0;
            font-size: 1.125em;
        }
        >h6 {
            font-weight: bold;
            @include md {
                width: 30%;
                min-width: 150px;
            }
            @include xxxl {
                min-width: 200px;
                font-size: 1.125em;
            }
        }
        >p {
            color: $color-read;
            @include md_lg {
                width: 70%;
            }
            @include xl {
                width: 70%;
            }
        }
    }
}

.company-body {
    padding-bottom: 5vw;
    p {
        @include xxxl {
            font-size: 1.125em;
        }
    }
    .title {
        @include md {
            text-align: center;
        }
    }
    .linktovr {
        display: block;
        overflow: hidden;
        border-radius: $radius;
        margin-top: 1em;
        margin-bottom: 5em;
        box-shadow: $card-shadow;
    }
}

.scroll-nav {
    // opacity: 0;
    // visibility: hidden;
    // transform: translateX(20%);
    // transition: opacity .5s ease, visibility 0s, transform .5s ease;
    // transition-delay: .3s;
    // &.active {
    //     opacity: 1;
    //     visibility: visible;
    //     transform: translateX(0);
    // }
    hr {
        display: block;
        width: 100%;
        margin: 2.5vw 0;
        outline: none;
        border: none;
        border-top: 1px solid $color-border;
    }
    @include xs_lg {
        display: none;
    }
    @include lg {
        // position: fixed;
        // z-index: 9;
        // width: $layout-sidebar;
        // right: 0;
        // top: 0;
        // height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .scroll-nav__item {
        a {
            display: block;
            color: #8f8f8f;
            transition: all .35s ease;
            position: relative;
            width: 100%;
            &:hover {
                color: #6A6A6A;
            }
            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
            }
            &:before {
                width: 6px;
                height: 6px;
                right: 5%;
                background-color: $color-main;
                border-radius: 50%;
                transform: translateY(-50%) scale(0);
                transition: all .4s ease;
                transition-delay: .05s;
                @include lg_xl {}
            }
            &:after {
                width: 15%;
                border-top: 1px solid #cecece;
                transform-origin: right center;
                transform: translateY(-50%) scaleX(0);
                transition: all .35s ease;
                @include lg_xl {
                    width: 10%;
                }
            }
        }
        &.scroll-nav__item--active {
            a {
                color: #000;
                font-weight: bold;
                @include lg {
                    &:after {
                        transform: translateY(-50%) scaleX(1);
                    }
                    &:before {
                        right: 10%;
                        transform: translateY(-50%) scale(1);
                    }
                }
                @include xl {
                    &:before {
                        right: 15%;
                    }
                }
                @include xxxl {
                    font-size: 1.125em;
                }
            }
        }
    }
}

.product-intro {
    min-height: 400px;
}