html,
body {
    background-color: #fff;
    line-height: 1.875;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family;
    //font-weight: 300;
    font-size: 16px;
    color: #000;
    overflow-x: hidden !important;
}

.page {
    width: 100%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

*,
*:focus,
*:hover {
    outline: none;
}

button,
[class^="swiper-button"] {
    user-select: none;
    -moz-user-select: none;
    /* for Firefox */
    -webkit-user-select: none;
    /* for Chrome */
}

.container {
    width: 100%;
    padding-left: $edge-mobile;
    padding-right: $edge-mobile;
    @include md {
        padding-left: $edge-tablet;
        padding-right: $edge-tablet;
    }
    @include lg {
        padding-left: $edge-normal;
        padding-right: $edge-normal;
    }
}

.container-fluid {
    width: 100%;
}

.container-s {
    width: 100%;
    padding-left: $edge-mobile;
    padding-right: $edge-mobile;
    @include md {
        padding-left: $edge-tablet;
        padding-right: $edge-tablet;
    }
    @include lg {
        padding-left: $edge-large;
        padding-right: $edge-large;
    }
}

.swiper-button-prev,
.swiper-button-next {
    user-select: none;
    -moz-user-select: none;
    /* for Firefox */
    -webkit-user-select: none;
    /* for Chrome */
}

.title-en {
    font-family: $font-en;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 0;
    a,
    .dot {
        display: inline-flex;
        width: 35px;
        height: 35px;
        max-width: 35px;
        min-width: 35px;
        font-size: .9375rem;
        line-height: 1em;
        align-items: center;
        justify-content: center;
        font-family: $font-en;
        @include xs_sm {
            height: 28px;
            height: 28px;
            min-width: 28px;
            max-width: 28px;
            min-height: 28px;
            font-size: .875rem;
        }
        @include ip5 {
            height: 24px;
            height: 24px;
            max-width: 24px;
            min-width: 24px;
            min-height: 24px;
            font-size: .75rem;
        }
        //font-family: $font-family-en;
    }
    .dot {
        width: 20px;
        &:before {
            content: "...";
            letter-spacing: 2px;
            display: block;
            //border: 1px solid #000;
            transform: translateY(-20%);
        }
    }
    a {
        border: 1px solid transparent;
        transition: all .35s ease;
        margin: 0;
        @include sm {
            border: 2px solid $color-border;
            border-radius: 5px;
            margin: 0 5px;
        }
        @include xxl {
            margin: 0 8px;
        }
        // @include ip5 {
        //     margin: 0 2px;
        // }
        &:hover,
        &:active {
            border-color: $color-main;
        }
        &.pg-prev,
        &.pg-next {
            font-size: 0;
            border: none;
            &:before {
                width: 16px;
                height: 16px;
                @include icon(41);
                opacity: 1;
                transition: all .35s ease;
            }
            &:active,
            &:hover {
                &:before {
                    @include iconPos(40);
                    opacity: 1;
                    transform: scale(1.25);
                }
            }
            &.disable {
                opacity: 0.2;
                pointer-events: none;
            }
        }
        &.pg-next {
            &:before {
                transform: rotate(-180deg);
            }
            &:hover {
                &:before {
                    @include iconPos(40);
                    opacity: 1;
                    transform: rotate(-180deg) scale(1.25);
                }
            }
        }
        &.active {
            border: 2px solid $color-main;
        }
    }
}

.pagination_container {
    // border: 1px solid #efefef;
    padding-top: 3vw;
    padding-bottom: 3vw;
    clear: both;
    float: none;
    width: 100%;
    @include xs_md {
        padding-bottom: 50px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.mask-for-everything {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(#000, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all .5s ease;
    z-index: 20;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    /* for Firefox */
    -webkit-user-select: none;
    /* for Chrome */
    .icon {
        opacity: 0;
    }
    .share-container {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
    }
}

.swiper-slide {
    height: auto;
}

.item-article,
.item-company {
    &.more {
        width: 100%;
        height: 100%;
        background: $color-border;
        border-radius: $radius;
        background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: none;
            font-size: 2vw;
            line-height: 1.25em;
            .text-holder {
                display: block;
                font-size: 16px;
            }
            .fz-B {
                display: block;
                font-weight: bold;
                line-height: 1.25em;
                color: #fff;
            }
        }
    }
}