%BOX_P {
    display: block;
    color: $color-read;
    line-height: 1.5em;
    height: 6.1em;
    overflow: hidden;
    margin-top: 1em;
    font-size: 14px;
    margin-bottom: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include xxxl {
        font-size: 16px;
    }
}

%IDX_label {
    font-size: .75rem;
    color: #333;
    .label {
        border-bottom: 1px solid #333;
        display: inline-block;
        user-select: none;
        -moz-user-select: none;
        /* for Firefox */
        -webkit-user-select: none;
        /* for Chrome */
        //cursor: pointer;
        &+.label {
            margin-left: 1em;
        }
    }
}

%INSIDE_label {
    flex-wrap: wrap;
    .label {
        color: #979797;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        font-size: .75em;
        margin-bottom: 0.5em;
        padding: 2px 8px;
        display: inline-block;
        transition: all .3s ease;
        user-select: none;
        -moz-user-select: none;
        /* for Firefox */
        -webkit-user-select: none;
        /* for Chrome */
        cursor: pointer;
        background-color: #fff;
        @include md {
            font-size: .8125em;
        }
        @include xxxl {
            font-size: .875em;
        }
        &:hover {
            color: #fff;
            background-color: #999;
            border-color: #999;
        }
        &+.label {
            margin-left: 0.5em;
        }
        &.active {
            color: #fff;
            background-color: $color-main;
            border: none;
            background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            position: relative;
        }
    }
}

.label-holder {
    &.simple {
        @extend %IDX_label;
    }
    &.rich {
        @extend %INSIDE_label;
    }
}