.idx-compony-list {
    .swiper-container {
        overflow: visible;
    }
    .swiper-wrapper {
        overflow: visible;
    }
    .swiper-slide {
        width: 70vw;
        @include md {
            width: 26vw;
        }
        @include lg {
            width: 20vw;
        }
        @include xxxl {
            width: 15.9vw;
        }
        transition:opacity .5s ease;
        // &.swiper-slide-prev {
        //     opacity: 0;
        // }
    }
}

.reload {
    display: inline-flex;
    border: 1px solid $color-border;
    border-radius: 3px;
    margin-left: 1em;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
    .icon {
        opacity: 0.4;
        transition: all .35s ease;
        &::before {
            width: 16px;
            height: 16px;
        }
    }
    &:hover,
    &:active {
        border: 1px solid #000;
        border-radius: 50%;
        .icon {
            opacity: 1;
        }
    }
    &.loading {
        border: 1px solid #000;
        border-radius: 50%;
        .icon {
            opacity: 1;
            animation: reload 1.75s linear infinite forwards;
        }
    }
}

@keyframes reload {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.title {
    //font-size: 3.75vw;
    font-family: $font-tw;
    line-height: 1.25em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: .5em;
    .remark {
        font-size: .75rem;
        font-weight: normal;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
    }
    .mobile-hide {
        @include xs_sm {
            display: none;
        }
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    @include md {
        padding-top: 50px;
    }
    .title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .icon+.title {
        margin-left: 0.5em;
    }
    .left {
        width: 75%;
        display: flex;
        align-items: center;
        @include xs_sm {
            width: 100%;
        }
    }
    .right {
        width: 25%;
        position: relative;
        text-align: right;
        user-select: none;
        -moz-user-select: none;
        /* for Firefox */
        -webkit-user-select: none;
        /* for Chrome */
        @include xs_sm {
            display: none;
        }
    }
    [class^="swiper-button"] {
        border-radius: 50%;
        border: 1px solid #000;
        color: #000;
        width: 30px;
        height: 30px;
        position: static;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        @include md {
            width: 40px;
            height: 40px;
        }
        &+[class^="swiper-button"] {
            margin-left: 5px;
            @include md {
                margin-left: 10px;
            }
        }
        &:after {
            display: block;
            font-size: 12px;
        }
    }
}

//數字元件
.item-count {
    margin-bottom: 10%;
    .title {
        //font-size: 1.66vw;
        color: #B0B0B0;
    }
    .num {
        color: #545454;
        font-size: 15vw;
        font-weight: bold;
        font-family: $font-en;
        letter-spacing: -1px;
        line-height: .8em;
        display: block;
        padding-top: .2em;
        padding-bottom: .1em;
        @include md {
            font-size: 5vw;
        }
    }
    .desc {
        font-size: .8125em;
        color: #848484;
        &:before {
            content: "";
            display: inline-block;
            width: 15%;
            height: 5px;
            margin-right: 5px;
            background: linear-gradient(to right, $color-green, $color-blue);
            vertical-align: middle;
        }
        @include xxl {
            font-size: .875em;
        }
        @include xxxl {
            font-size: .9375em;
        }
    }
}

.idx-intro {
    @include md {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .intro-text {
        background: linear-gradient(to bottom, #F5F5F5, #fff);
        transition: padding .35s ease;
        @include xs_md {
            padding: 50px $edge-mobile;
        }
        @include md {
            width: 51.5%;
            padding: 8vw 50px 12.5vw $edge-tablet;
            border-radius: 0 5.5vw 0 0;
            margin-top: 6vw;
        }
        @include lg {
            padding: 8vw 50px 12.5vw $edge-normal;
        }
        @include xxl {
            padding: 8vw 70px 12.5vw 10vw;
        }
        @include xxxl {
            padding: 8vw 80px 8vw $edge-large;
        }
        .title {
            font-size: 8.75vw;
            @include md {
                font-size: 3.75vw;
            }
        }
        p {
            display: block;
            padding-top: 1.5em;
            font-size: 1em;
            @include xxl {
                font-size: 1.125em;
            }
            @include xxxl {
                font-size: 1.25em;
            }
        }
    }
    .intro-count {
        background: linear-gradient(to top, #F5F5F5, #fff);
        display: flex;
        transition: padding .35s ease;
        flex-wrap: wrap;
        @include xs_md {
            padding: 50px $edge-mobile;
        }
        @include md {
            width: 44.2%;
            padding: 8vw $edge-tablet 8vw 50px;
            border-radius: 0 0 0 5.5vw;
        }
        @include lg {
            padding: 8vw $edge-normal 8vw $edge-normal;
        }
        @include xxl {
            padding: 8vw 10vw 8vw $edge-normal;
        }
        @include xxxl {
            padding: 8vw $edge-large 8vw $edge-normal;
        }
        .item-count {
            width: 48%;
            &:nth-of-type(2n+2) {
                margin-left: 4%;
            }
        }
    }
}

.idx-article-list {
    .swiper-container {
        overflow: visible;
    }
    .swiper-wrapper {
        overflow: visible;
    }
    .swiper-slide {
        width: 70vw;
        @include md {
            width: 35vw;
        }
        @include lg {
            width: 24.9vw;
        }
        @include xxxl {
            width: 24.9vw;
        }
        transition:opacity .5s ease;
        // &.swiper-slide-prev {
        //     opacity: 0;
        // }
    }
}

.swiper-partner {
    margin-top: 0;
    margin-bottom: 5vw;
    position: relative;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 60px;
        background: linear-gradient(to right, #fff, rgba(#fff, 0));
        z-index: 9;
        top: 0;
        pointer-events: none;
        @include md {
            width: 100px;
        }
    }
    &:before {
        left: -1px;
        background: linear-gradient(to right, #fff, rgba(#fff, 0));
    }
    &:after {
        right: -1px;
        background: linear-gradient(to left, #fff, rgba(#fff, 0));
    }
    .swiper-wrapper {
        -webkit-transition-timing-function: linear!important;
        transition-timing-function: linear!important;
        position: relative;
    }
    .partner-logo {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid #000;
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 80%;
        }
        img {
            position: absolute;
            width: 50%;
        }
    }
}

.swiper-idx-compony,
.swiper-idx-article {
    &:before {
        position: absolute;
        content: "";
        display: block;
        background: linear-gradient(to right, #fff, rgba(#fff, 0));
        width: $edge-mobile;
        height: 100%;
        left: 0 - $edge-mobile;
        top: 0;
        z-index: 9;
        @include md {
            width: $edge-tablet;
            left: 0 - $edge-tablet;
        }
        @include lg {
            width: $edge-normal;
            left: 0 - $edge-normal;
        }
    }
}