//未來如果選項變多，再將xs_md放大到xs_lg或是xs_xl即可
.nav {
    .show-mobile {
        display: none;
    }
    @include xs_md {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 90;
        background-color: #fff;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(50px);
        transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
        .nav-wrap {
            padding: $height-header-xs + $edge-mobile $edge-mobile $height-header-xs;
        }
        a {
            display: block;
            border-bottom: 1px solid $color-border;
            line-height: 3.5em;
            transition: all .4s ease;
            font-weight: bold;
            opacity: 0;
            transform: translateY(20px);
            &.show-mobile {
                display: block;
            }
        }
    }
    @include md {
        height: $height-header-md;
        //border: 1px solid #000;
        position: fixed;
        right: 130px;
        //right: 168px;
        z-index: 109;
        top: 0;
        .main-nav {
            display: flex;
        }
        a {
            display: flex;
            align-items: center;
            height: $height-header-md;
            margin-right: 2.5vw;
            transition: all .35s ease;
            font-weight: bold;
            position: relative;
            color: #444;
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 4px;
                background: linear-gradient(to right, $color-green, $color-blue);
                transform-origin: center;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%) scaleX(0);
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &:hover,
            &:active,
            &.active {
                //color: $color-main;
                color: #000;
                &:before {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }
    }
    @include lg {
        //right: $width-search-wrap + $edge-normal;
        padding-right: 1.5vw;
    }
    @include xl {
        right: $width-search-wrap + $edge-normal;
        margin-right: 100px;
    }
    @include xxl {}
    @include xxxl {
        height: $height-header-xxxl;
        a {
            height: $height-header-xxxl;
            font-size: 1.125em;
            margin-right: 2.8vw;
        }
    }
}

.nav-open {
    overflow: hidden;
    .header {
        box-shadow: none;
    }
    .nav {
        @include xs_md {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: translateY(0);
            a {
                transform: translateY(0);
                opacity: 1;
                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: 0.1s * $i;
                        //background: adjust-hue(blue, $i * $step);
                    }
                }
            }
        }
    }
}

.nav-mb {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0s;
    //height: 100vh;
    //  visibility: visible;
    //  opacity: 1;
    @include xs_md {
        width: 100%;
        overflow-y: auto;
        height: fill-available;
        height: -webkit-fill-available;
        overflow: hidden;
        background-color: #fff;
        transform: translateY(50px);
        //height: 100vh;
        background-color: #fff;
    }
    @include xs_md_h {
        justify-content: center;
    }
    @include md {
        width: 16vw;
        min-width: 280px;
        height: auto;
        top: $height-header-md + 8px;
        transform: none;
        border-radius: 8px;
        right: $edge-normal;
        left: auto;
        transform: translateY(30px);
        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 6px 8px;
            border-color: transparent transparent #fff transparent;
            float: right;
            margin-right: 20px;
            // position: absolute;
            // right: 0;
            // top: 0;
            // transform: translateY(-100%);
        }
    }
    @include lg {}
    @include xxxl {
        top: $height-header-xxxl + 8px;
    }
    .nav-wrap {
        @include md {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px;
            background-color: #fff;
            border-radius: 8px;
            float: none;
            clear: both;
        }
    }
    a {
        display: block;
        border-bottom: 1px solid $color-border;
        line-height: 3.5em;
        transition: all .4s ease;
        font-weight: bold;
        opacity: 0;
        transform: translateY(20px);
        &.logout {
            color: rgb(214, 76, 76);
        }
        @include md {
            line-height: 2.5em;
            font-size: .875rem;
            border: none;
        }
        @include lg {
            font-size: .9375rem;
        }
        @include xxxl {
            font-size: 1rem;
        }
        &.show-mobile {
            display: block;
        }
    }
    .disabled {
        cursor: not-allowed;
        color: #ccc !important;
    }
    //background-color: $color-main;
    .member-info {
        display: block;
        //border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //min-height: 30vh;
        position: relative;
        //padding-top: 15%;
        padding: $height-header-xs $edge-mobile 30px;
        user-select: none;
        -moz-user-select: none;
        /* for Firefox */
        -webkit-user-select: none;
        /* for Chrome */
        @include xs_md {
            background-color: $color-main;
            background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            color: #fff;
        }
        @include md {
            padding: 20px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-border;
        }
        @include xxxl {
            padding: 20px 30px;
        }
        //background: linear-gradient(to bottom, $color-main 0%, $color-green 100%);
    }
    .avatar {
        background-color: #fff;
        width: 40%;
        border-radius: 50%;
        font-size: 0;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
        .icon {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scale(1.01);
            left: 0;
            top: 0;
            transform-origin: center center;
            &:before {
                width: 100%;
                height: 100%;
                @include iconPos(58);
            }
        }
        @include xs_md {
            background-color: #f8f8f8;
            border: 5px solid #fff;
        }
        @include md {
            width: 30%;
            background-color: $color-main;
            background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            margin-bottom: 0;
            box-shadow: $card-shadow;
            position: relative;
            box-sizing: border-box;
            // &:after {
            //     content: "";
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     border-radius: 50%;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     border: 5px solid #fff;
            //     box-sizing: border-box;
            // }
            .icon {
                &:before {
                    @include iconPos(59);
                }
            }
        }
    }
    .name {
        font-weight: bold;
        font-family: $font-tw;
        font-size: 1.5em;
        @include md {
            font-size: 1.375em;
        }
        //color: #fff;
    }
    .main-nav {
        padding: $height-header-xs $edge-mobile $height-header-xs;
        @include md {
            padding: 10px 20px;
        }
        @include xxxl {
            padding: 15px 25px;
        }
        a {
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
    .label {
        display: block;
        padding: 0.25em 1em;
        border-radius: 20px;
        line-height: 1.2em;
        font-size: .8125em;
        border: 1px solid $color-main;
        color: $color-main;
        margin-bottom: 0.25em;
        @include xs_md {
            border: 1px solid #fff;
            color: #fff;
            font-size: .875em;
            padding: 0.25em 1.5em;
        }
    }
    //background-color: darkcyan;
    &.before-login {
        @include xs_md {
            background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
        }
        .nav-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .main-nav {
            display: flex;
            flex-direction: column;
            @include md {
                padding: 15px;
            }
            @include xxxl {
                padding: 20px;
            }
            a {
                &.login {
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
                    background-size: 400% 400%;
                    animation: gradient 10s ease infinite;
                    color: #fff;
                    text-align: center;
                    font-size: 1em;
                    line-height: 50px;
                    @include xs_md {
                        font-size: 1.25em;
                        line-height: 55px;
                        background: linear-gradient(-45deg, #fff, #eee, #fff, #ddd);
                        color: #222;
                    }
                }
                &.register {
                    border: none;
                    margin-top: 10px;
                    text-align: center;
                    display: inline-block;
                    width: auto;
                    span {
                        border-bottom: 1px dashed #000;
                        padding-bottom: 0.5em;
                    }
                    @include xs_md {
                        span {
                            border-bottom: 1px dashed #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.after-login {
        @include xs_md {}
        @include xs_md_h {
            .nav-wrap {
                display: flex;
                height: 100vh;
            }
            .member-info {
                width: 50%;
            }
            .main-nav {
                width: 50%;
                overflow-y: auto;
            }
        }
        @include md {
            .main-nav {
                a {
                    span {
                        transition: all .35s ease;
                    }
                    &:hover {
                        span {
                            color: $color-main;
                        }
                    }
                    &.logout {
                        &:hover {
                            span {
                                color: rgb(214, 76, 76);
                            }
                        }
                    }
                }
                .disabled {
                    &:hover {
                        span {
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}

.mb-ad {
    display: none;
    @include xs_md_v {
        display: flex;
        background: url('../img/login-ad.png') no-repeat center center;
        background-size: contain;
        width: 90%;
        margin: 50px auto 0;
    }
    &::after {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}

.mb-open {
    .nav-mb {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 0.05s;
        @include xs_md {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch
        }
        a {
            transform: translateY(0);
            opacity: 1;
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    transition-delay: 0.1s * $i;
                    //background: adjust-hue(blue, $i * $step);
                }
            }
        }
    }
    @include xs_md {
        overflow: hidden;
        .logo {
            transform: translateY(-100%);
            opacity: 0;
        }
        .search-wrap {
            transform: translateY(-100%);
            opacity: 0;
            transition-delay: .05s;
        }
        .nav-toggle {
            transform: translateY(-100%);
            opacity: 0;
            transition-delay: .1s;
        }
        .header {
            background-color: transparent;
            box-shadow: none;
        }
        .btn-after-login,
        .btn-before-login {
            .icon {
                background-color: #fff;
                border-color: transparent;
                &:before {
                    transform: scale(0.5);
                    @include iconPos(39);
                }
            }
        }
        .btn-after-login {
            .icon {
                background-color: #fff;
                background: linear-gradient(-45deg, #fff, #f8f8f8, #fff, #f8f8f8);
            }
        }
    }
}