.search-toggle {
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
        &:before {
            width: 22px;
            height: 22px;
            @include md_xl {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.search-wrap {
    //border: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    transition: all .4s ease;
    pointer-events: auto;
    @include xl {
        width: $width-search-wrap;
        margin-right: 20px;
        .search-toggle {
            display: none;
        }
    }
}

.search-bar {
    display: flex;
    //border: 1px solid #000;
    background-color: #efefef;
    @include md {
        border-radius: 25px;
        overflow: hidden;
    }
    // border-radius: 5px;
    input,
    select,
    button {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        background: none;
        box-shadow: none;
        border: none;
        height: $height-header-xs;
        padding: 0;
        @include md {
            height: $height-header-md;
        }
        @include xl {
            height: 40px;
        }
    }
    input {
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 1rem;
        &:not([value=""]),
        &:focus {
            &+select+button,
            &+button {
                background-color: #333;
                background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
                background-size: 400% 400%;
                animation: gradient 10s ease infinite;
                position: relative;
            }
        }
        @include lg {
            padding-left: 1em;
            padding-right: 1em;
        }
        @include xxxl {
            font-size: 1.125rem;
        }
    }
    select {
        padding: 0 20px 0 5px;
        display: none;
    }
    button {
        transition: all .35s ease;
        background-color: rgb(214, 214, 214);
        cursor: pointer;
        i {
            pointer-events: none;
            &::before {
                transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                width: 18px;
                height: 18px;
            }
        }
        @include lg {
            border-radius: 25px 0 0 25px;
            background-color: rgb(185, 185, 185);
        }
        &:hover {
            background-color: $color-main;
            i {
                &::before {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
    .close-search-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        @include md {
            width: 50px;
        }
        i {
            &::before {
                width: 16px;
                height: 16px;
            }
        }
        @include xl {
            display: none;
        }
    }
    &.large {
        background-color: #fff;
        border-radius: 30px;
        overflow: hidden;
        @include xs_sm {
            width: 100% !important;
        }
        input,
        select,
        button {
            height: 45px;
            padding: 0;
            @include md {
                height: 50px;
            }
            @include lg {
                height: 50px;
            }
        }
        button {
            border-radius: 30px 0 0 30px;
            background: linear-gradient(-45deg, #2AF598, #15CACA, #009EFD, #0022FD);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            position: relative;
            @include xs_md {
                width: 50px;
            }
            @include md {
                width: 120px;
            }
            @include xxl {
                width: 150px;
            }
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                &:before {
                    width: 24px;
                    height: 24px;
                }
            }
            &:hover {
                i {
                    &:before {
                        @include xl {
                            width: 28px;
                            height: 28px;
                        }
                        @include xxxl {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
        input {
            @include xs_md {
                width: calc(100% - 50px);
            }
            @include md {
                width: calc(100% - 120px);
                padding-left: 1.5em !important;
            }
            @include xxl {
                width: calc(100% - 150px);
            }
        }
    }
    &.scale {
        width: 100%;
        input {
            flex: auto;
        }
        button {
            width: 50px;
        }
        @include xs_xl {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            border-radius: 0;
            pointer-events: none;
            opacity: 0;
            transition-delay: .2s;
            transition: all .9s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: translateY(50px);
            //display: none;
            input {
                flex: auto;
                font-size: 1.25rem;
            }
            button {
                flex: auto;
                border-radius: 0;
            }
        }
        @include md_xl {
            input {
                width: calc(100% - 150px);
                padding-left: 2em;
            }
            button {
                width: 100px;
            }
        }
        @include xl {
            input {
                flex: auto;
                width: calc(100% - 50px);
            }
            button {
                //flex: auto;
                width: 50px;
            }
        }
        @include xxl {
            input {
                width: calc(100% - 60px);
            }
            button {
                width: 60px;
            }
        }
    }
}

.search-bar-show {
    @include xs_xl {
        .logo {
            opacity: 0;
            transition: all .35s ease;
        }
        .search-bar {
            &.scale {
                pointer-events: auto;
                opacity: 1;
                transform: translateY(0);
                //display: none;
            }
        }
        .mask-for-everything {
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
        }
    }
    @include md_xl {
        .nav {
            opacity: 0;
            pointer-events: none;
            transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

.loading-show {
    .mask-for-everything {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        background-color: rgba(#fff, 0.8);
        .icon {
            opacity: 1;
            animation: reload 1.75s linear infinite forwards;
            &::before {
                width: 2.5vw;
                height: 2.5vw;
                min-width: 32px;
                min-height: 32px;
            }
        }
    }
}

.share-show {
    overflow: hidden;
    .mask-for-everything {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        >.icon {
            display: none !important;
        }
        .share-container {
            visibility: visible;
            opacity: 1;
            border: 1px solid #666;
            background-color: #333;
            border-radius: $radius;
            width: 80%;
            max-width: 500px;
            padding: 40px 20px;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            pointer-events: auto;
            .fz-B {
                font-weight: bold;
                margin: 0 0 25px 0;
                line-height: 1em;
                padding: 0;
                color: #ccc;
                text-align: center;
            }
            .sharethis-inline-share-buttons {
                text-align: center !important;
                .st-btn {
                    width: 48px !important;
                    height: 48px !important;
                    line-height: 48px !important;
                    padding: 0 !important;
                    display: inline-flex !important;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px !important;
                    @include md {
                        width: 64px !important;
                        height: 64px !important;
                        line-height: 64px !important;
                    }
                    >img {
                        transition: all .4s ease;
                        top: auto !important;
                        @include md {
                            width: 30px !important;
                            height: 30px !important;
                        }
                    }
                    &:first-of-type {
                        margin-left: 0 !important;
                    }
                    &:hover {
                        top: auto !important;
                        >img {
                            transform: scale(1.375);
                        }
                    }
                }
            }
            @include md {
                padding: 60px 40px;
            }
            .close-share {
                position: absolute;
                width: 50px;
                height: 50px;
                right: 10px;
                top: 10px;
                cursor: pointer;
                .icon {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:before {
                        width: 20px;
                        height: 20px;
                    }
                }
                @include md {
                    width: 60px;
                    height: 60px;
                    .icon {
                        &:before {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}