// RWD ============================================
$xs:0;
$sm:576px;
$md:740px;
$lg:980px;
$xl:1100px; //laptop 要照顧 1280 / 1366 / 1440 // pad pro
$xxl:1500px; //大螢幕 要照顧 1680 / 1920
$xxxl:1800px;
$super:2200px;
// EDGE ============================================
$edge-mobile:30px;
$edge-tablet:8vw;
$edge-normal:4.68vw;
$edge-large:13.54vw;
//LAYOUT ============================================
$layout-cover:30%;
$layout-content:70%;
$layout-sidebar:14vw;
// HEADER ============================================
$height-header-xs:60px;
$height-header-md:72px;
$height-header-xxxl:90px;
$width-search-wrap:20vw;
// MAX ============================================
// COLOR ============================================
$color-main:#0062FF;
$color-read:#535353;
$color-orange:#fbb556;
$color-green:#2AF598;
$color-blue:#009EFD;
$color-bg:#F9F9F9;
$color-border:#f0f0f0;
$font-family: "PingFang",
"PingFangTC",
"Microsoft JhengHei",
Helvetica,
Arial;
$font-en:'Yantramanav',
Helvetica,
Arial,
sans-serif;
$font-tw: 'Noto Sans TC',
sans-serif;
// detail ============================================
$radius:8px;
$card-shadow:rgba(0, 0, 0, 0.03) 0px 4px 14px;